.nav-fixed{
  background-color: #CCCCCC;
  overflow: hidden;
  position: fixed;
    width: 100%;
    top: 0;
}

.nav-fixed a{
     float: left;
  color: #f2f2f2;
    padding: 15px 5%;
}

#footer{
    background-color: blanchedalmond;
}